<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="artifactory" value="%ARTIFACTORY_URL%/api/nuget/v3/%ARTIFACTORY_NUGET_REPO%/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <artifactory>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_TOKEN%" />
    </artifactory>
  </packageSourceCredentials>
  <config>
    <add key="maxHttpRequestsPerSource" value="16" />
  </config>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
